<p *ngIf="listaPosts.length===0">Não existem posts que obedeçam ao critério de pesquisa!</p>

<table id="tabelaDados" *ngIf="listaPosts.length>0">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of listaPosts" (click)="mostraDetalhe(post)">
            <td>{{ post.userId }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <h2>Total de Posts: {{ listaPosts.length }}</h2>
            </td>
        </tr>
    </tfoot>
</table>

<app-dialogbox *ngIf="!esconde" [post]="info" (close)="fechaDialog()">
    <!-- content projection -->
    <p><strong>userId:</strong>{{ info.userId }}</p>
    <p><strong>Title:</strong>{{ info.title }}</p>
    <p><strong>Body:</strong>{{ info.body }}</p>
</app-dialogbox>