.collapsible {
    width: 300px;
    border: 1px solid #ddd;
}

.collapsible-header {
    padding: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
}

.collapsible-body {
    background-color: #fff;
    height: 100px;
    padding: 10px;
}