<header>
    <h1>Primavera Software</h1>
</header>

<nav id="menuTopo">
    <ul>
        <!-- [routerLinkActive="activa especial"] para mais que uma ... -->
        <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="testes" routerLinkActive="activa">Testes</a></li>
        <!-- <li><a href="testes">Testes</a></li> nunca fazer assim-->
        <li><a routerLink="testedados" routerLinkActive="activa">Testes Dados</a></li>
        <li><a routerLink="pessoas" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact: true }">Pessoas</a>
        </li>
        <li><a [routerLink]="['pessoas',2]" routerLinkActive="activa">Pessoas Detalhe</a></li>
        <li><a [routerLink]="['accordion']" routerLinkActive="activa">Accordion</a></li>
        <li><a routerLink="/accordion1" routerLinkActive="activa">Accordion1</a></li>
        <li><a [routerLink]="['accordion2'] " routerLinkActive="activa">Accordion2</a></li>
        <li><a routerLink="jsonplaceholder" routerLinkActive="activa">Jsonplaceholder</a></li>
    </ul>
</nav>

<main>
    <!-- <app-testes></app-testes> -->
    <!-- <app-testesdados></app-testesdados> -->
    <!-- <app-accordion></app-accordion> -->
    <!-- <app-pessoastopo></app-pessoastopo> -->
    <router-outlet></router-outlet>
</main>

<footer>
    &copy; 2023 Primavera Software
</footer>